@{
    ViewBag.Title = "Start";
}

<div class="jumbotron">
    <h1>Apps.cuplex.se</h1>
</div>

<div class="row">
    <div class="col-md-8">
        <h3>On this page you can find all my configured installers for some of my most usefull applications.</h3>
    </div>
    <div class="col-md-4">
        <a class="btn btn-primary" href="@Url.Action("Index","Apps")" >Go to Applications page</a>
    </div>
</div>