<NuGetPack>
  <AddFrameworkReferences>true</AddFrameworkReferences>
  <IconUrl>https://www.telerik.com/favicon.ico</IconUrl>
  <ProjectUrl>https://www.telerik.com</ProjectUrl>
  <LicenseUrl>https://www.telerik.com/license</LicenseUrl>
  <Authors>Martin Dahl</Authors>
  <Owners>Telerik</Owners>
  <Copyright>Telerik</Copyright>
  <Description>FiddlerCore for .Net 4.5</Description>
  <Summary>Fiddler.Core</Summary>
  <Keywords>Fiddler, Core, Fiddler.Core</Keywords>
</NuGetPack>