#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

.vs
.svn
RelocateRepo.bat
Desktop.ini

# Base path not included directories
/AllProjectImagesAndIcons
/AdvancedInstaller
/CuplexDB
/BitServe/packages
/TestSite/packages
/api.cuplex.se/ASP_Web_API/packages
/Geo-IpImport/packages
/SecureMemo/packages
/OauthClient/packages
/Apps.cuplex.se/packages
/Packages
/ImageView/packages
/cdn.cuplex.se/packages/DotNet.Contracts.1.10.20606.1
/cdn.cuplex.se/packages
/NewCuplexSite/CuplexProject/packages
/SecureChat/packages
/SignalRChat/packages
/WiFiPasswordGenerator/packages/JetBrains.dotMemoryUnit.2.1.20150828.125449
/FileSystemImage/packages
/WebNotes/packages
/RSAKeyGenerator/packages
/EliminateDuplicates/packages
/CredentialsSite/packages
/FileStructureOrganizer/packages
/TelerikWevsite/packages
/FileSystemOrganizer/packages
/Fiddler.Core.4.5/packages/PubComp.NuGetPack.2.14.0
/AzureTextTranslationLib/packages
