<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <Common>
    <SiteName>AfterLogic WebMail Pro</SiteName>
    <LicenseKey></LicenseKey>
    <AdminPassword>12345</AdminPassword>
    <DBType>1</DBType>
    <DBLogin></DBLogin>
    <DBPassword></DBPassword>
    <DBName></DBName>
    <DBDSN></DBDSN>
    <DBHost>localhost</DBHost>
    <DBPathToMdb>...</DBPathToMdb>
    <UseCustomConnectionString>0</UseCustomConnectionString>
    <DBCustomConnectionString>...</DBCustomConnectionString>
    <DBPrefix>
    </DBPrefix>
    <DefaultSkin>AfterLogic</DefaultSkin>
    <AllowUsersChangeSkin>1</AllowUsersChangeSkin>
    <DefaultLanguage>English</DefaultLanguage>
    <AllowUsersChangeLanguage>1</AllowUsersChangeLanguage>
  </Common>
  <WebMail>
    <IncomingMailProtocol>0</IncomingMailProtocol>
    <IncomingMailServer>localhost</IncomingMailServer>
    <IncomingMailPort>110</IncomingMailPort>
    <OutgoingMailServer>localhost</OutgoingMailServer>
    <OutgoingMailPort>25</OutgoingMailPort>
    <ReqSmtpAuth>1</ReqSmtpAuth>
    <AllowAdvancedLogin>1</AllowAdvancedLogin>
    <HideLoginMode>11</HideLoginMode>
    <DefaultDomainOptional>localhost</DefaultDomainOptional>
    <ShowTextLabels>1</ShowTextLabels>
    <AutomaticCorrectLoginSettings>1</AutomaticCorrectLoginSettings>
    <EnableLogging>0</EnableLogging>
    <DisableErrorHandling>0</DisableErrorHandling>
    <AllowAjax>1</AllowAjax>
    <MailsPerPage>20</MailsPerPage>
    <AttachmentSizeLimit>10240000</AttachmentSizeLimit>
    <EnableAttachmentSizeLimit>0</EnableAttachmentSizeLimit>
    <MailboxSizeLimit>102400000</MailboxSizeLimit>
    <EnableMailboxSizeLimit>1</EnableMailboxSizeLimit>
    <DefaultTimeZone>0</DefaultTimeZone>
    <AllowUsersChangeTimeZone>1</AllowUsersChangeTimeZone>
    <DefaultUserCharset>65001</DefaultUserCharset>
    <AllowUsersChangeCharset>1</AllowUsersChangeCharset>
    <AllowDHTMLEditor>1</AllowDHTMLEditor>
    <AllowUsersChangeEmailSettings>1</AllowUsersChangeEmailSettings>
    <AllowDirectMode>1</AllowDirectMode>
    <DirectModeIsDefault>0</DirectModeIsDefault>
    <AllowNewUsersRegister>1</AllowNewUsersRegister>
    <AllowUsersAddNewAccounts>1</AllowUsersAddNewAccounts>
    <StoreMailsInDb>0</StoreMailsInDb>
    <EnableWmServer>0</EnableWmServer>
    <WmServerRootPath>C:\Program Files\AfterLogic XMail Server\MailRoot\</WmServerRootPath>
    <WmServerHost>localhost</WmServerHost>
    <WmAllowManageXMailAccounts>0</WmAllowManageXMailAccounts>
    <AllowContacts>1</AllowContacts>
    <AllowCalendar>1</AllowCalendar>
  </WebMail>
  <Calendar>
    <DefaultTimeFormat>1</DefaultTimeFormat>
    <DefaultDateFormat>1</DefaultDateFormat>
    <ShowWeekends>1</ShowWeekends>
    <WorkdayStarts>9</WorkdayStarts>
    <WorkdayEnds>18</WorkdayEnds>
    <ShowWorkDay>1</ShowWorkDay>
    <WeekStartsOn>0</WeekStartsOn>
    <DefaultTab>2</DefaultTab>
    <DefaultCountry>US</DefaultCountry>
    <DefaultTimeZone>38</DefaultTimeZone>
    <AllTimeZones>0</AllTimeZones>
  </Calendar>
</Settings>