<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Geo_IpImport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="LocalHost" connectionString="Data Source=localhost;User ID=CuplexApiUser;Password=nodvE379ohORU9ycJeiQfHYfWjyvfqWK;Initial Catalog=CuplexApi;" providerName="System.Data.SqlClient" />
    <add name="Server" connectionString="Data Source=server.local.net;User ID=CuplexApiUser;Password=nodvE379ohORU9ycJeiQfHYfWjyvfqWK;Initial Catalog=CuplexApi;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup><userSettings>
    <Geo_IpImport.Properties.Settings>
      <setting name="ImportLocation" serializeAs="String">
        <value />
      </setting>
    </Geo_IpImport.Properties.Settings>
  </userSettings>
</configuration>
