<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="cuplex webmail redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^mail\.cuplex\.se$" />
                    </conditions>
                    <action type="Redirect" url="https://webmail.cuplex.se" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="C:\inetpub\websites\res.cuplex.se\customerror\404.htm" responseMode="File" />
        </httpErrors>
        <httpRedirect enabled="false" destination="http://res.cuplex.se/customerror/non-existing-domain.htm" exactDestination="false" childOnly="false" />
    </system.webServer>
    <system.web>
        <customErrors defaultRedirect="http://default.cuplex.se" mode="On">
        </customErrors>
    </system.web>
</configuration>
