.adminPagePanel
{
	margin:10px 0px 10px 0px;
	border:solid 1px gray;
	padding:5px;
	
	overflow:auto;
}
.adminMenuTable
{
	border:solid 1px gray;
	width:100%;
}
.adminMenuTable td
{
	padding:15px;
}
.adminContentPanel
{
	
    
}
.adminFilerPanel div
{
	margin:0 15px 0 15px;
	display:inline;
}
.dateField
{
	width:70px;
	cursor:pointer;
}
.label
{
	font-weight:bold;
}
.linkSuggestionTable td
{
	padding:3px 5px 3px 5px;
	border-color:Gray;
}
.linkSuggestionTableRow
{
	background-color:White;
}
.linkSuggestionTableAlternating
{
	background-color:#dcdbe5;
}
.linkSuggestionTable th
{
	padding:3px 5px 3px 5px;
	color:White;
	font-size:11px;
	background-color:#2b2e71;
}
.LinkSuggestionListCheckBox
{
	text-align:center;
}

.link:visited 
{
	color:#3c3a68;
	text-decoration:none;
}
.link:active 
{
	color:#333333;
	text-decoration:none;
}
.link:link 
{
	color:#9f171a;
	text-decoration:none;
}
.link:hover 
{
	color:#333333;
	text-decoration:underline;
}
.editLinkSuggestionPanel
{
	top:300px;
	left:175px;
	padding:15px;
	height:135px;
}
.editLinkSuggestionPanel label, .editLinkPanel label
{
	clear:left;
	display:block;
	font-weight:bold;
	color:#343434;
}

.editLinkSuggestionButtonPanel
{
	position:absolute;
	bottom:5px;
	right:5px;
	padding-left:5px;
}
.editLinkSuggestionInputPanel div
{
	padding-bottom:8px;
}

.editLinkTextBox
{	
	width:250px;	
	clear:left;
}

.editLinkDateTextBox
{
	height:1em;
	width:80px;	
	clear:left;
}
.editLinkTimeTextBox
{
	height:1em;
	width:60px;	
	clear:left;
}
.editLinkNumberTextBox
{
	height:1em;
	width:125px;	
	clear:left;
}

.editLinkPanel
{
	top:280px;
	left:175px;
	padding:15px;
	height:330px;
}