<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="TimeServers" value="time.nist.gov;time-a.timefreq.bldrdoc.gov;time-b.timefreq.bldrdoc.gov;time-c.timefreq.bldrdoc.gov" />
    <add key="SyncInterval" value="43200" />
    <add key="ServiceName" value="SynchronizeTimeService" />
    <add key="ServiceAccount" value="LocalSystem" />
    <add key="ServicesDependedOn" value="" />
    <add key="ServiceStartType" value="Automatic" />
  </appSettings>
</configuration>