html {
	height: auto;
	overflow-y: auto !important; /* IE and Mozilla */
}

input[type=text] {
	font-smooth:always;
	-webkit-font-smoothing: antialiased;
}

::-webkit-input-placeholder {
    color:    #aaa;
}
:-moz-placeholder {
    color:    #aaa;
}
::-moz-placeholder {
    color:    #aaa;
}
:-ms-input-placeholder {
    color:    #aaa;
}

/* Share buttons  */
.share_buttons li.twitter_button, .share_buttons li.facebook_button{
	width: 82px!important;
}
.share_buttons li.linkedin_button {
	width: 65px!important;
}
.share_button_container .share_buttons li {
	display:inline-block;
}
 /* Share buttons  */

 .alert {
	left: 240px;
	position: relative;
	width: auto;
 }

 #agent_link {
	display:none;
 }

 img.forum_restricted {
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	}

#top-menu-background,#header,#search_box {
	display: none;
}

.content_green {
	background: none;
}

.content_green p {
	line-height:1.5em;
}

.green_box_bottom,.green_box_top {
	display: none;
}

.blue_box_top,.blue_box_bottom,.grey_box_top,.grey_box_bottom {
	background: none;
	height: 1px;
}

.content_grey {
	background: none;
}

div#contentwrapper {	
	position: relative;
	height: 100%;
	margin: 0 auto;
	min-height:600px;
}

div.top_header {
	background-color:#ccc;
	background-image:url('https://cuplex.se/voc/images/header.jpg');
	background-repeat: no-repeat;
	height:246px;
	width:1000px;
}

.header_links {
	position: relative;
	top: 210px;
	left: 22px;
}
.header_links ul {
	list-style-type: none;
}

.header_links ul li {
	display: inline;
	list-style-type: none;
	padding-right: 30px;
}

.header_links ul li a {
	color:#fff;
	font-size:18px;
}
.header_links ul li a:hover {
	color:#f0f0f0!important;
}

div.show_more_bar a {
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#sidebar {
	margin-right: 10px;
}

#sidebar #widget_fixed:first-child div.side-box-content{
	background-color:#fff;
	border:1px solid #ddd;
	-webkit-box-shadow:2px 2px 4px #ccc;
	box-shadow:0px 2px 4px #ccc;
}
#sidebar #widget_fixed:first-child div.side-box-content p{
	color:#777;
	font-size: 11pt;
}

div#page {
	position: relative;
	height: 100%;
	min-height: 100%;
	width:1000px;
}

div#container {
	padding: 10px 0 0 0;
	border: #e5e5e5 1px solid;
	/*width: 1200px; */
	height: 100%;
	position: relative;
}

div#left_bg {
	position: absolute;
	background-image: url('https://cuplex.se/voc/images/background_long.png');
	background-position: top left;
	background-repeat: no-repeat;
	background-color: #f3ecd7;
	cursor: pointer;
	width: 228px;
	min-height: 800px;
	height: 100%;
	float: left;
	top: 0;
	left: 0;
	bottom: 0;
}

.item .icon div.vote {
	position: relative;
	bottom: auto;
	top: 23px;
	left: 10px;
	margin-bottom: 0px;
}

#menu_suggestions_query {
	width:190px;
}

.button.vote {
	background: none;
	padding: 6px 5px 5px 6px;
	background-color: #efefef;
}

/* Top Menu Search  */
.top_search {
	position: relative;
	left: 745px;
	top: 182px;
	width: 250px;
}

#menu_suggestion_submit {
	height: 27px;
	width: 31px;
	background-image: url('https://cuplex.se/voc/images/menu_search_button.png');
	background-position: center;
	background-repeat: no-repeat;
	background-color: #fff;
	cursor: pointer;
}

/* Search results @home page */
#topic_search_result .item  .item-info h1 a{		
	font-weight: bold;
}

#topic_search_result .item .item-info p{
	color:#777;
	padding: 5px 0 2px 0;
}

#topic_search_result .item .item-info .info span a {
	color:#AAA;
}

#topic_search_result .item .icon img, #content_entries .item .icon img{
	display:none;
}
#topic_search_result .item .icon, #content_entries .item .icon {
	background-image: url('https://cuplex.se/voc/images/article.png');
	background-repeat:no-repeat;
	height: 36px;
	width: 42px;
	margin-top: -1px;
}

#topic_search_result #show_more a {
	color: #555;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
#topic_search.frame {
	padding: 7px 15px 0px 13px;
}

.item-info h1 a {
	font-family: Arial, Helvetica, sans-serif;
}

.ticket_deflect_box {
	border: 1px solid #f0f0f0;
	padding:20px;
	width:70%;
	margin:15px auto;
	text-align: center;	
}
.caps {
	/* text-transform:uppercase; */
}

#add_comment {
	font-weight:normal;
	font-size:18px;
}

/* Search results @home page END */

/* Topic list */
#content_entries .item .item-info span a {
	color: #666!important;	
	font-size: 18px;
}

div.deflect.tickets {
	/* background: url('https://cuplex.se/voc/images/searchtips.png') no-repeat; */
	background:none;
}

.deflect.tickets a {
	color:#777;
}

.item {
	padding: 15px 0;
}

.item.nobottom {
	border-bottom: 1px solid #f0f0f0;
}

#pinned-entries-frame .entry .sub {
	display: none;
}

#pinned-entries-frame {
	border: none;
	float: none;
	margin:0 auto;
}

#pinned-entries-frame div {
	border: none;
	position: static;
	overflow: visible;
	white-space: normal;
	float: left;
	padding: 0;
	margin: 0;
}

#pinned-entries-frame div a {
	color: #777;
}

#pinned-entries-frame .entry {
	float: left;
	padding: 10px;
	margin: 0;
	width: 200px;
}

#pinned-entries-frame .fade_truncation_inner {
	display: none;
}

div#category_header_none,#category_none,.forum-nav {
	display: none !important;
}

.forum_tabs {
	border-top: 1px solid #ddd;
}

.frame {
	border: none;
}

.frame iframe{
	overflow:hidden;
}

.pstrong {
	margin-bottom: -5px!important;
}

.user_formatted p, .user_formatted ol li,.user_formatted ul li  {
	line-height:1.50em;
	font-size:11pt;
}

.content .frame.columns {
	float: left;
}

.faq_column {
	float: right;
	width: 325px;
}

.using_voc {
	float: left;
	width: 600px;
}

.follow_link {
	display: none;
}

.content li.articles {
	background: none;
	padding: 0 0 0 30px;
}

.user_formatted.header_section.clearfix a{
	font-weight:bold;
	font-size: 11pt;
}

div.content div.category div.column {
	padding: 0;
	margin: 0;
}

body.entries-show h2.forums {
	font-size: 1.5em;
}

.content h2 {
	font-size: 1.5em;
	font-weight: normal;
}

h2.forums a{
	color:#777!important;
}

div.content h2 {
	overflow: visible;
}

div.column li a {
	color: #777;
}

div.column h3 {
	font-size: 12pt !important;
	margin: 0;
}

div.column h3 a {
	color: #777;
}

div.column h3 a:hover {
	text-decoration:underline;
} 

div.category-header {
	background: none;
	border: none;
}

.columns h2 a {
	color: #555;
}

.columns h2 a:hover {
	text-decoration:underline;
}

div.titles_only .entry h3.entry-title {
	font-size: 14pt;
}

div.column h3 {
	border: none;
	font-size: 14pt;
}

div.column ul li a {
	font-family: Arial,Helvetica, sans-serif;
}

h1,h2,h3 {
	font-family: volvo_sans_pro, Arial, Helvetica, sans-serif;
	font-weight:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 0px;
	text-shadow: none;	
}

h1,h2,h3,p {
	font-size: 12pt;
}

h1 {
	font-size: 2em;
}

h2 {
	overflow: visible;
	font-size: 1.5em;
	color: #777;
}

h3 {
	font-size: 1.2em;
}

/* edit anchors */
p a {
	font-family: Arial, Helvetica, sans-serif;
}

a.emphasized {
	text-decoration:none;
	font-weight:bold;
	color: #1A6690;
	font-size:0.9em;
}
a.emphasized:hover {
	color:#000;
	text-decoration:underline;
}

#flash div#notice {
	background: none;
}

#flash_messages #flash div#notice {
	display: none;
}

.article_center_img  {
	width: 33%;
	display:block;
	float:left;
	clear:none;
	text-align:center;	
}

form#suggest_form {
	text-align: center;
}

#suggestions_query {
	border: 1px solid #AAA\0/ !important; /* IE 8-9 */
	height: 35px;
	-webkit-box-shadow: inset 2px 2px 3px #E0E0E0;
	box-shadow: inset 2px 2px 3px #E0E0E0;
	background: none;
	font-size: 16pt!important;	
	line-height: 30px; 
}

input#suggestion_submit {
	height: 50px;
	width: 60px;
	background-image: url('https://cuplex.se/voc/images/search_button.png');
	background-position: center;
	background-repeat: no-repeat;
	background-color: #fff; 
	cursor: pointer;
}

/* Increase the size of the header, add a logo, set background color */
#header {
	height: 10px;
}

.volvo_home_lnk {
	position: absolute;
	width: 110px;
	height: 100px;
	top: 5px;
	left: 20px;
	cursor: pointer;
}

.volvo_home_lnk:hover {
	border:#ccc 1px dotted;
}

/* Setting the #top background color removes the
1 px white line above the menu bar */
#top {
	background: #bdd6e6; /* volvo light-blue */
}

/* Set the text properties of links in top-right
 * User name, profile, help, login/logout */
#top-right,#top-right a,#top-right p {
	color: #425563;
	font-size: 12px;
	font-weight: normal;
	margin: 20px 0 0;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5); /* This may not work with all browsers */
}

.login-form span a {
	color:#555;
}
.login-form span a:hover {
	color:#000;
}

/* Change the hyperlink hover color of links in top-right */
a:hover {
	color:#000!important;
}

.lang_link {
	width: 100%;
	height: 50px;
	float: left;
}

.lang_link a {
	float: right;
	margin-top: 30px;
	margin-right: 20px;
	color: #269;
	font-family: Arial,Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12pt;
}

.voc_footer {
	position: relative;
	clear:both;
	display: block;
	float: left;
	min-width: 980px;
	width:100%;
	height: 64px;
	text-align: left;
	background-color: #F4F4F4;
}

.voc_footer span {
	color: #AAA;
	display: inline-block;
}

.voc_footer span,.voc_footer a,.voc_footer div {
	color: #AAA;
	margin: 8px 15px 8px 20px;
	font-size: 10pt;
	display: inline-block;
}

.applink_button_wrapper {
	position: relative;
	top: 9px;
}

.app_link {
	margin: 0 2px !important;
	display: inline-block;
}
.side-box-content {
	background-color:#fff;
	border:1px solid #ccc;
	font-size:14px;
	padding:12px 22px 8px 22px;
}
.contact_us_widget h2,.contact_us h2 a{
	font-family:volvo_sans_pro;		
	font-size: 12pt;
	font-weight:bold;
	text-transform:none;
	-webkit-font-smoothing: antialiased;
	text-shadow:none;
	-webkit-text-stroke: 0px;
	margin:10px 0;
}
.side-box-content ul.options li.link, .side-box-content ol.options li.link {
	background: url('https://cuplex.se/voc/images/bullets.png') no-repeat scroll 0 2px;
}

.submit_req_widget {
	padding:10px 0;
	color:#555;
}

.side-box-content ul.options li::before, .side-box-content ol.options li::before {
	content: '';
	background: url('https://cuplex.se/voc/images/bullets.png') 0 -275px no-repeat;
}
.image_zoom {
	cursor: pointer;
}
.modal_img {
	position:absolute;
	border:1px solid #555;
	border-radius: 6px;
	-webkit-box-shadow:3px 3px 6px #333;
	box-shadow:3px 3px 6px #333;
	padding:10px;
	min-width:100px;
	min-height:75px;
	z-index:200;
}
.modal_img_bg,.iframepopup_bg {
	position:absolute;	
	border-radius: 4px;	
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:200;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity:0.6;
	background-color:#111;
}
.modal_bg {
    z-index:10;
	position:fixed;
    top:0px;
    left:0px;
	width:100%;
	height:100%;	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity:0.7;
	background-color:#000;
}
.modal_img_frame {
	position:relative;
	z-index:200;
	border:1px solid #ccc;
}
.modal_img_head,.modal_iframe_head {
	position: relative;
	height:15px;
	z-index:250;	
}
.modal_img_head img, .modal_iframe_head img{
	float:right;
	cursor:pointer;
}

.iframepopup {
	position:absolute;
	width:50%;
	height:80%;	
	z-index:200;
	min-width:250px;
	min-height:350px;		
	border:1px solid #555;
	border-radius: 6px;
	-webkit-box-shadow:3px 3px 6px #333;
	box-shadow:3px 3px 6px #333;
	padding:5px 6px 22px 5px;
}
.iframepopup iframe{
	z-index:250;
	position:relative;
	background-color:white;
	min-height:340px;
	border: 1px solid #ccc;
}

.item-info .info.data {
	line-height: 1.2em
}