<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SetTimeAndDate.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>   
  <appSettings>
    <add key="server1" value="ntp1.sp.se"/>
    <add key="server2" value="ntp2.sp.se "/>
    <add key="server3" value="ntp4.sp.se"/>
    <add key="server4" value="ntp1.sptime.se"/>
    <add key="server5" value="ntp2.sptime.se"/>
  </appSettings>
</configuration>