<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<imageProvider>
		<paths>
			<path routePrefix="Sample" xdt:Locator="Match(routePrefix)" xdt:Transform="Remove" />
			<path routePrefix="common/images" localPath="E:\DomainShare\CDN\Common\Images" originalPath="\\WIN10-SERVER\DomainShare\CDN\Common\Images" expiration="0:30:00" />
		  <path routePrefix="wordpress/wp-includes" localPath="D:\Websites\wordpress.cuplex.se\wp-includes" originalPath="\\WIN10-SERVER\Websites\wordpress.cuplex.se\wp-includes" expiration="0:30:00" xdt:Transform="InsertIfMissing" xdt:Locator="Match(routePrefix)" />
		  <path routePrefix="wordpress/wp-content" localPath="D:\Websites\wordpress.cuplex.se\wp-content" originalPath="\\WIN10-SERVER\Websites\wordpress.cuplex.se\wp-content" expiration="0:30:00" xdt:Transform="InsertIfMissing" xdt:Locator="Match(routePrefix)" />
		</paths>
	</imageProvider>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>
